


.signup {
  text-align: center;
  margin-top: 70px;
  background-color: #1C3B1B;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 35px;
  padding-bottom: 35px;
  color: white;

  h2 {
    font-family: 'Raleway', sans-serif;
  }

  a {
  font-family: 'Raleway', sans-serif;
  }

}
