<h1>Boxes#show</h1>
<p>Find me in app/views/boxes/show.html.erb</p>

<%# <%= simple_form_for [@order, @box] do |f| %> %>
<%# <%= f.input :total_price %> %>
  <%# <%= f.button :submit, class: "btn btn-primary" %> %>
<%# <% end %> %>

<%# link to new box order, pass a box instance %>