<!-- Delete Banner if not needed -->
<div class="banner">
   <div class="container">
      <div class="row">
            <div class="banner-content col-8">
                <h1> Support your local farmer </h1>
                <p>With FARMSUP you can support your local farmer and choose your
                  personalized and freshly harvested food box </p>
                <%= link_to "Register", new_registration_path(:user),  class: 'btn btn-custom btn-primary btn-lg' %>
            </div>
       </div>
    </div>
</div>
