  <div class="container mt-5">

  <div class="row">
    <div class="col-sm-6">
      <h1>Bookings for my Boxes</h1>
      <ul>
        <% @orders.each do |order| %>
        <li><%= order.user.email %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-sm-6">
      <h1>My orders for other boxes </h1>
      <ul>
        <% @orders.each do |order| %>
        <li><%= order.box.name %></li>
        <li><%= order.box.price %></li>
        <li><%= order.box.address %></li>
        <% end %>
      </ul>
    </div>


  </div>

</div>
