<div class="container">
<h1>Thanks for your order!</h1>

</div>

<div class= 'container'>
<h1>Name of box:<%= @order.box.name %></h1>
</div>
<div class= 'container'>
<p>Farmer's ID: <%= @order.box.user.first_name %>, <%= @order.box.user.last_name %></p>
</div>
