@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


.navbar-lewagon {
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-custom {
  background-color: #1C3B1C;
  justify-content: space-between !important;
  font-family: 'Raleway', sans-serif;
}

.left-nav {
  display: flex;
  margin-right: 1000px;
}

.middle-nav {
  display: flex;
  margin-right: 70px;
}

.right-nav {
  display: flex;
}

.nav-link {
color: white !important;
}

.navbar-brand {
  color: white !important;
}

.search-custom {
  border-radius: 20px;
}

.btn {
  border-radius: 20px;
  border-color: white;
  background-color: #1C3B1C;
  color: white;
}
