.navbar-lewagon {
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-custom {
  background-color: #1C3B1C;
  justify-content: space-between !important;
}

.left-nav {
  display: flex;
  margin-right: 600px;
}

.middle-nav {
  display: flex;
  margin-right: 50px;
}

.right-nav {
  display: flex;
}

.nav-link {
color: white !important;
}

.navbar-brand {
  color: white !important;
}

.search-custom {
  border-radius: 20px;
}

.btn-custom {
  border-radius: 20px;
  background-color: #1C3B1C;
  color: white;
}
